body {
    margin: 0;
    padding: 0;
    background-color:#d6d6cf;
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color:#6b705c;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0%;    
    left: 0%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

.container {

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #12140a;
    

}

.text {
    background:url(/imgs/clouds-gif.gif);
    background-size: 850px 250px;
    font-size: 200px;
    font-family: 'Exo 2', sans-serif;
    -webkit-text-fill-color: transparent;
    /* -webkit-background-clip: text;  */
    
}

c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center right;
    transition: transform .3s,opacity .3s;
    opacity: 0;
    z-index: 99;
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 6px;
    border-radius: 10px;
    margin: 5px;
    cursor: -webkit-grab;
    cursor: grab;
}

header {
    display: flex;
    width: 100%;
    margin: auto;
    height: 90px;
    align-items: center;
    justify-content: space-around;
    background: #6b705c; 
    border-color: black;
}

.logo {
    height: 100%;
    
}

.nav {
    display: flex;

}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;

}

#instafeed {
    max-width:1080px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;
    padding-bottom: 5%;
    
}
    
#instafeed a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    width: 100%;
    padding-top: 2%;
   
    
    
    /* @media only screen and (min-width: $lg) {
    width: 25%;
      } */

    
} 
      
#instafeed img {
    display: flex;
    align-items: center;
      
}
    

